# Arquivos gerais
.DS_Store
Thumbs.db
*.log
*.bak
*.swp
*.swo

# Ambiente/Docker
**/mysql-data/  # Volume do MySQL
.env
.env.local

# IDEs/Editores
.idea/
.vscode/
*.iml
*.project
*.classpath
.settings/

# Builds/Artefatos
**/target/
**/bin/
**/out/
**/dist/
**/build/
