@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    background-color: #A9A9A9;
    font-family: "Inter", sans-serif;
    font-size: x-large;
}

body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}
img {
    width: 70%;
    object-fit: cover;
    border-radius: 10px;
}
p {
    margin: 2%;
}
p#title_desc{
    margin-bottom: 0px;
}
p#text_desc{
    margin-top: 10px;
    text-wrap: wrap;
}
div#desc_div {
    background-color: #D9D9D9;
    border-radius: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
div#status_div {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
div#status_select{
    display: flex;
    flex-direction: row;
    margin: 5%;
    gap: 10px;
}
select {
    padding: 2%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: green;
}
option#dispo{
    background-color: green;
}
option#vend{
    background-color: red;
}
option#reser{
    background-color: gray;
}